/*Styles*/
html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

h1 {
  font-size: 2.6em;
  font-family:"Garamond", Georgia, serif;
  margin-bottom: -32px;
}

p {
  font-family:"Times New Roman", Georgia, serif;
  font-size: 1.8em;
  line-height: 1.4;
}

ol {
  font-family:"Times New Roman", Georgia, serif;
  font-size: 1.8em;
  line-height: 1.4;
}

.italic {
  font-style: italic;
}


.center-text {
    text-align: center;
}


.photo {
  margin: 64px 0px 64px 0px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}


.photo img {
  max-width: 60%;
  max-height: 900px;
}


.photo video {
  width: 600px;
}

.wide-photo {
  margin: 64px 0px 64px 0px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.wide-photo img {
  max-width: 130%;
  margin-left: -15%;
  max-height: 900px;
}

.less-bottom {
  margin-bottom: 0px;
}


.fin {
  margin: 0,0,0,0;
  width: 80px;
}


.case {
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}





/*Media Queries*/
@media (max-width: 1000px) {

  h1 {
    font-size: 2em;
    margin-bottom: -24px;
  }
  .case  {
    margin-left: 12%;
    margin-right: 12%;
  }

  .video-responsive{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .photo video {
    width: 400px;
  }
}

@media (max-width: 700px) {


  p {
    font-size: 1.4em
  }
  .photo video {
    width: 300px;
  }

}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
