@import "less/bootstrap";

@grid-gutter-width:         48px;

@jumbotron-font-size:            ceil((@font-size-base * 3));
@jumbotron-bg:                   #ffffff;

@btn-primary-color:              black;
@btn-primary-bg:                 transparent;
@btn-primary-border:             #000000;

@font-size-base:          18px;