<footer>

	<div class="row">
      <div class="four columns offset-by-two columns headroom">
        <h6 class="headline">WORK</h6>
        <hr class="small">
        <ul>
        {% for post in site.work %}
          <li class="footer">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div class="four columns headroom">
        <h6 class="headline">BLOG</h6>
        <hr class="small">
        <ul>
        {% for post in site.posts %}
          <li class="footer">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        </ul>
      </div>
    </div>

    <div class="headline headroom">
        <a class="social" href="https://www.linkedin.com/in/jordanhbraun" target="_blank"><i class="fa fa-linkedin fa-2x fa-footer fa-linkedin-hover"></i></a>
        <a class="social" href="http://www.twitter.com/designjordan" target="_blank"><i class="fa fa-twitter fa-2x fa-footer fa-twitter-hover"></i></a>
        <a class="social" href="https://github.com/jordanhbraun" target="_blank"><i class="fa fa-github fa-2x fa-footer fa-github-hover"></i></a>
        <a class="social" href="mailto:jordan@jhbraun.com"><i class="fa fa-envelope fa-2x fa-footer fa-envelope-hover"></i></a>
        <a class="social" href="/publickey.asc"><i class="fa fa-lock fa-2x fa-footer fa-envelope-hover"></i></a>
      </div>

    <h6 class="headline headroom">jordan h. braun // california, usa // jordan@jhbraun.com</h6>
  </div>

</footer>
